header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  background-color: #ccb42c;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

a {
  text-align: center;
  align-self: center;
}