@import './header.scss';

// colours
// light green -> #ccb42c
// dark green -> #1c5c34
// creamish green -> #fcec9f

//fonts
//font-family: 'IBM Plex Sans', sans-serif;

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  background-color: #ccb42c;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #ccb42c;
  overflow: hidden;

  .text {
    text-align: left;
    align-self: center;
  }

}