@import './variables.scss';
@import './header.scss';
@import './home.scss';
@import './projects.scss';
@import './pingpong.scss';
@import './about.scss';
@import './astrology.scss';
@import './lostandfound.scss';

//fonts
//font-family: 'IBM Plex Sans', sans-serif;

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  background-color: #ccb42c;
}
