.pingpong {
  display: flex;
  flex-direction: column;
  justify-content: center;


  h3 {
    @include light-font;
    color: $grey;
    font-size: 20px;
    align-self: center;
    margin-bottom: 10px;
  }

  a {
    @include light-font;
    color: $grey;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  .swiper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .the-slider {
    .first-slide {
      text-align: center;
      margin: 0px;
      padding: 0px;

      .tech-list {
        @include light-font;
        display: inline-block;
        text-align: left;
        padding-left: 20px;
        font-size: 20px;
        color: $grey;
        list-style-type: square;
        padding-bottom: 40px;
      }

      h4 {
        @include light-font;
        color: $grey;
        font-size: 20px;
        text-align: center;
      }
    }

    .one-slide {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0px;
      padding: 0px;
    }

    p {
      @include light-font;
      color: $grey;
      font-size: 20px;
      width: 300px;
      align-self: center;
      padding-right: 10px;
      text-align: right;
    }

    .slider-img {
      padding-left: 10px;
      width: 210px;
      align-self: center;
    }

  }

  .swipe-buttons {
    align-self: center;
    padding-top: 10px;

    button {
      width: 50px;
      height: 50px;
      background-color: $darkgreen;
      color: $lightgreen;
      font-size: 35px;
      text-align: center;
      border: none;
      margin: 10px;
      padding: 0px;
    }

    button:hover {
      background-color: $lightgreen;
      border-color: $darkgreen;
      border-width: 2px;
      border-style: solid;
      color: $darkgreen;
    }
  }
}
