.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12vh;

  .section-text {
    display: flex;
    justify-content: left;
    width: 18vw;
    height: 60vh;
    align-items: center;
    font-size: 15px;
    @include light-font;
    color: $grey;
  }

  .section {
    width: 18vw;
    height: 60vh;
    background-color: $darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 18vw;
    height: 20vh;
    position: absolute;
  }

  .text-container {
    width: 18vw;
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }

  h3 {
    text-align: center;
    color: $lightgreen;
    @include heavy-font;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
    @include light-font;
    color: $lightgreen;
    font-size: 15px;
    margin: 0px;
  }

  a {
    text-align: center;
    text-decoration: none;
    color: $lightgreen;
    padding-bottom: 10px;
    margin-top: 10px;
    @include light-font;
  } 
}
